@import url('https://fonts.googleapis.com/css?family=Ubuntu');
@import url('https://fonts.googleapis.com/css?family=Lobster');

* {
	margin: 0;
	padding: 0;
}

body, html {
	height: 100%;
	font-family: 'Ubuntu', sans-serif;
	line-height: 150%;
	color: #434656;
	text-align: center;
}

#mc_embed_signup {
	font: 14px Ubuntu, sans-serif;
	color: #434656;
}

.nav {
	height: 6vh;
	width: 100%;
	z-index: 10;
	position: fixed;
	overflow: hidden;
	background-color: #A7AABC;
}

#homeIcon {
	padding-top: 0.5vh;
	height: 2.5vh;
	width: 2.5vh;
}

#navbar div {
  float: left;
  height: 100%;
  font-family: lobster, sans-serif;
  display: block;
  color: #fcfcfc;
  text-align: center;
  padding: 10px 16px;
  text-decoration: none;
  font-size: 2.5vh;
}

#navbar div:hover {
	background-color: #434656;
}
#navbar div:active {
	font-size: 18px;
}

.centerLogo {
	padding: 5vh 0 1vh 0;
	width: 100%;
}

#logo {
	width: 60vh;
	height: 60vh;
}
@media screen and (max-width: 500px) {
	#logo {
		margin-top: 12vw;
		width: 85vw;
		height: 85vw;
	}
}

.flexContainer {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	overflow: auto;
	height: auto;
}

.flexBox {
	flex-grow: 1;
	height: auto;
	width: 40vh;
}

.light {
	background-color: #fcfcfc;
}

.sectionHeader {
	text-align: center;
	color: #434656;
	padding-top: 3.2vh;
	padding-bottom: 0.5vh;
	background-color: #fcfcfc;
	font-family: lobster, sans-serif;
	font-size: 180%;
}

.sectionParagraph{
	padding: 3.8vh 1vh 5.8vh 1vh;
	text-align: left;
}

.sectionVisit {
	padding: 3.8vh 0;
	text-align: center;
	font-size: 23px
}

.sectionVisit p {
	padding: 3.8vh 0;
}

.sectionVisit:first-child {
	padding-top: 5vh;
}

.sectionContact {
	padding: 3.8vh 0;
	text-align: center;
	font-size: 23px;
	overflow-wrap: break-word;
}

.sectionContact p {
	padding: 3.8vh 1.2vh;
}

.sectionContact label {
	padding: 3.8vh 0;
	font-size: 23px;
}

.sectionContact:first-child {
	padding-top: 5vh;
}

input[type=email] {
	width: 65%;
	padding: 1vh;
	margin: 3vh 0;
	border: 1px solid #ccc;
	border-radius: 3px;
	box-sizing: border-box;
}
input[type=submit] {
	width: 20vh;
	background-color:#A7AABC;
	color: #434656;
	padding: 1vh;
	margin: 0 0 3.8vh 0;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	font-family: ubuntu, sans-serif;
}

input[type=submit]:hover {
	background-color:#434656;
	color: #A7AABC;
}

.socialIcons {
	padding: 3.8vh;
}

.socialIcons a {
	text-decoration: none;
}

.socialIcons img {
	width: 4.5vh;
	height: 4.5vh;
}

.center {
	padding: 3.8vh 0;
}

#map {
	min-height: 300px;
	max-width: 700px;
}

.parallax1 {
	background: url(images/home.jpg);
	min-height: 70%;
}

.parallax2 {
	background: url(images/visit.jpg);
	min-height: 55%;
}

.parallax3 {
	background: url(images/about.jpg);
	min-height: 55%;
}

.parallax4 {
	background: url(images/intouch.jpg);
	min-height: 55%;
}

.parallax {
	position: relative;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed; 
}

@supports (-webkit-overflow-scrolling: touch) {
	.parallax {
		background-attachment: scroll;
	}
}

.footer {
	padding-top: 1vh
	height: 5vh;
	width: 100%;
	font-size: 8px;
	color: #fcfcfc;
	background-color: #434656;
}
.footer a {
	color: #fcfcfc;;
}